<h1 #titleValue contentEditable="true">{{receivedPost.title}}</h1>
<p #bodyValue contentEditable="true">{{receivedPost.body}}</p>

<p class="it-open-comments" (click)="openComments(receivedPost.id)">See comments</p>


<app-review *ngIf="receivedPost.visible" [receivedPostId]="receivedPost.id"></app-review>

 
<button *ngIf="showDeleteAndEditBtn" (click)="updatePosts(receivedPost.id, receivedPost.userId)">Edit and Send</button>
<button *ngIf="showDeleteAndEditBtn" (click)="detetePost(receivedPost.id)">Delete</button>
