.re-container {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    margin-block: 10px;
    padding: 10px;
}
.re-form {
    display: inline-block;
}

.re-form-input {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
}