.div-grad {
    background: rgb(255, 145, 0);
    position: relative;
    width: 100%;
    min-height: 100vh; 
}

.div-grad-one {
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    background: linear-gradient(to right, #ff4800 0%, rgba(161, 104, 104, 0) 100%);
    position: absolute;
}

.div-grad-two {
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background: linear-gradient(to bottom, transparent 0%, #551800 99%);
    position: absolute;
}
