/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

h2, h3, h4 {
    color: white;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
}

::placeholder {
    color: rgb(206, 206, 206);
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
}